@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.heading-1{
  font-family: "Pacifico", cursive;
}

.carousel-item img {
  height: 75vh;
}

/* .carousel-item img {
  height: 76vh; 
}

@media (max-width: 768px) {
  .carousel-item img {
    height: 50vh; 
  }
}


@media (min-width: 768px) and (max-width: 992px) {
  .carousel-item img {
    height: 70vh; 
  }
} */

.fruits-div{
  background-image: url(../images/background-img.jpg);
  background-size: cover;
}

.recipe-image{
  background-image: url(../images/recape-image.jpg);
  background-size:cover;
  width: 550px !important;
  height: 50vh;
}

.Fresh-items-image{
  background-image: url(../images/fresh-item-image.jpg);
  background-size: cover;
  width: 550px !important;
  height: 50vh;
}
