@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.heading-1{
  font-family: "Pacifico", cursive;
}

.container-fluid {
  min-height: 10vh;
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(32, 27, 27, 0.767);
  z-index: 1;
}

.bgpart {
  position: relative;
  z-index: 2;
}